@import "assets/variables.scss";

@mixin circle-icon {
  img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-width: 2px;
    border-color: white;

    object-fit: cover;
    object-position: center;
  }
}

@mixin arrow-box {
  position: relative;
  background: $arrow-box-background;
  border: 3px solid $arrow-box-border;
  border-radius: 6px;
  color: white;

  &::after, &::before {
    position: absolute;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
  }

  &::after {
    border-color: rgba($arrow-box-background, 0);
    border-width: 16px;
  }

  &::before {
    border-color: rgba($arrow-box-border, 0);
    border-width: 22px;
  }
}

@mixin arrow-box-top {
  @include arrow-box;

  &::after, &::before {
    bottom: 100%;

    @media screen and (max-width: #{$phone-max}) {
      left: 50%;
    }

    @media screen and (min-width: #{$phone-over}) {
      left: 14%;
    }
  }

  &::after {
    border-bottom-color: $arrow-box-background;
    margin-left: -16px;
  }

  &::before {
    border-bottom-color: $arrow-box-border;
    margin-left: -22px;
  }
}

@mixin arrow-box-left {
  @include arrow-box;

  &::after, &::before {
    top: 50%;
    right: 100%;
  }

  &::after {
    border-right-color: $arrow-box-background;
    margin-top: -16px;
  }

  &::before {
    border-right-color: $arrow-box-border;
    margin-top: -22px;
  }
}

@mixin content-box($background-color: #eee) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  @media screen and (max-width: #{$phone-max}) {
    padding: 24px 0 0;

    h1 {
      font-weight: normal;
      font-size: 24px;
    }

    h2 {
      font-weight: normal;
      font-size: 20px;
      margin: 24px 12px;
    }
  }

  @media screen and (min-width: #{$phone-over}) {
    margin-top: 300px;
    padding: 56px 30px;

    h1 {
      margin-bottom: 24px;
      font-size: 32px;
    }

    h2 {
      margin: 24px 0;
      font-size: 24px;
    }
  }
}

@mixin ward-box($background-color: #eee) {
  @include content-box($background-color);

  ul {
    list-style-type: none;
    padding: 0;

    li {
      img {
        width: 100%;
      }
    }

    &.prize {
      display: block;

      li {
        width: 100%;
        font-size: 18px;
        line-height: 1.8;

        i {
          color: rgb(191, 155, 48);
        }

        &.big {
          font-size: 28px;
        }
      }
    }
  }

  @media screen and (max-width: #{$phone-max}) {
    padding-bottom: 24px;

    h1 {
      margin-bottom: 24px;
    }

    ul {
      li {
        &.comment {
          .icon {
            padding: 18px 0;
            text-align: center;

            @include circle-icon;
          }

          .arrow-box {
            margin: 8px 32px 0;
            padding: 24px 12px;

            line-height: 1.5;

            @include arrow-box-top;
          }
        }
      }

      &.shelf {
        li {
          margin: 24px;
        }
      }

      &.prize {
        margin: 24px;
      }
    }
  }

  @media screen and (min-width: #{$phone-over}) {
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;

      li {
        width: 45%;

        &.comment {
          .icon {
            margin: 0 0 0 32px;

            @include circle-icon;
          }

          .arrow-box {
            margin: 38px 32px;
            padding: 12px 12px;

            line-height: 1.5;

            @include arrow-box-top;
          }
        }
      }

      &.shelf {
        li {
          width: 36%;

          & + li {
            margin-left: 24px;
          }
        }
      }

      &.prize {
        margin: 24px 0;
        text-align: center;
      }
    }
  }
}
